html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background: blue;
}

main {

}

a {
    text-decoration: None;
    color: black;
}

.test {
    margin:30px;
    display: flex;
    flex-direction: column;
}

footer {
    background: black;
}


.select-button {
    border: 2px solid black;
    font-size: 15px;
    width:150px;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin: 10px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 120px;
    height: 30px;
}

.question-block {
    background: #ffff;
}

.question-block:hover {
    background-color: grey;
}
